body{
    background-color: rgb(61, 146, 195);
}

.grocery-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grocery-list-card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-weight: bold;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);
}

#view-btn, #delete-btn{
    margin: 5px;
}

#create-list-form{
    position: fixed;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#listInputField{
    padding: 7px;
    width: 70%;
    border: none;
    border-radius: 4px;
}

#create-btn{
    margin-bottom: 3px;
}

.create-flex{
    display: flex;
    justify-content: space-evenly;
}