body{
    background-color: rgb(61, 146, 195);
}

#gi-container{
    display: flex;
    flex-direction: column;
}

#grocery-item{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.item-name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
    
}

#create-item-form{
    position: fixed;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#itemInputField{
    padding: 7px;
    width: 70%;
    border: none;
    border-radius: 4px;
}

#create-btn{
    margin-bottom: 3px;
}

.create-flex{
    display: flex;
    justify-content: space-evenly;
}